// BREAKPOINTS
$tablet-min-width-portait: 43rem;
$tablet-min-width-landscape: 62rem;
$laptop-min-width: 80rem;
$desktop-min-width: 120rem;

// SCREEN-ORIENTATION
$orientation-portrait: portrait;
$orientation-landscape: landscape;