.oracle-card {
    min-height: 70%;
    &__title {
        text-align: center;
        font-size: 2rem;
        margin-bottom: none;
    }
    &__main-asana {
        display: block;
        margin: 0 auto;
        height: 16rem;
    }
    &__tips {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: none;
        img {
            margin-right: 1rem;
            object-fit: fill;
            width: 3rem;
        }
        p {
            flex: 1;
            font-size: 1.2rem;
            text-align: center;
        }
    }
}